@{
    ViewBag.Title = "About Me";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*bio/way for visitors to contact me*@

<p>Born in the Detroit City</p>
<p>
    Where's my gangstas and all my thugs?
    Throw them hands up and show some love<br />
    And I welcome you to Detroit city
    I said welcome to Detroit city<br />
    Every place, everywhere we go
    Man, we deep everywhere we roll<br />
    Ask around and they all know Tricky
    Ask what's good, man, they all say Tricky
</p>