@{
    ViewBag.Title = "Portfolio";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message1</h3>
<br />

@*description and link to projects I want to highlight.*@

<p><strong>1)</strong>ASP.net Basic web calculator(In Progress)</p>
<a href="https://github.com/DavidEdelstein/Basic-Web-Calculator" style="display:block;">Web Calculator(Git Hub)</a>
<br />
<p><strong>2)</strong>Tic-Tac-Toe Console game(In Progress)</p>
<a href="https://github.com/DavidEdelstein/OOP-games" style="display:block;">Tic-Tac-Toe Console Game(Git Hub)</a>
<br />
<h3>@ViewBag.Message2</h3>
<div class="col-md-4">
    <p>
        <strong>--</strong>C#<br />
        <strong>--</strong>ASP.NET<br />
        <strong>--</strong>.NET MVC Framework<br />
        <strong>--</strong>Entity Framework<br />
        <strong>--</strong>HTML / CSS<br />
        <strong>--</strong>Microsoft Excel<br />
        <strong>--</strong>Visual Studio<br />
        <strong>--</strong>Git / Github<br />
        
    </p>
</div>

<div class="col-md-4">
    <p>
        <strong>--</strong>Data Structures & Algorithms<br />
        <strong>--</strong>Test Driven Development<br />
        <strong>--</strong>SQL Server<br />
        <strong>--</strong>Mentorship<br />
        <strong>--</strong>Google Suite<br />
        <strong>--</strong>QuickBooks<br />
        <strong>--</strong>Coaching Skills<br />
    </p>
</div>
