@{
    ViewBag.Title = "Portfolio";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

@*description and link to projects I want to highlight.*@

<p>ASP.net Basic web calculator = Show link here.</p>